/**FONT FAMILY*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700')
openSans ='Open Sans', sans-serif
miniFont = 0.8em
@font-face
	font-family: 'icomoon'
	src:url('../iconfonts/icomoon.eot?-mtf7t2')
	src:url('../iconfonts/icomoon.eot?#iefix-mtf7t2') format('embedded-opentype'),
		url('../iconfonts/icomoon.woff?-mtf7t2') format('woff'),
		url('../iconfonts/icomoon.ttf?-mtf7t2') format('truetype'),
		url('../iconfonts/icomoon.svg?-mtf7t2#icomoon') format('svg')
	font-weight: normal;
	font-style: normal;

/*COLOR*/
gris = #f0f0f0
grisOscuro = #E4E4E4
grisOscuroSombra = #C8C8C8
grisNav = #656565
newGreen = #1abb9c
greenBtn = #15A388
greenOscuro = #1B5A4E
amarilloBtn = #F1BF0F
amarilloSombra = #A98810
colorFuente = #484848
rojo = #E74C3C

/*MIXINS*/
contentPadding(var)
	padding var

/*
############################################################
############################################################
BODY
############################################################
############################################################
*/
body
	font-family openSans
	background-color gris
	a
		
/*
############################################################
############################################################
HEADER
############################################################
############################################################
*/
header
	background-color newGreen
	position fixed
	z-index 2
	width 100%
	box-shadow 0 3px 0 rgba(0, 0, 0, 0.09)
	.content
		padding 1em
		overflow auto
	figure
		float left
		a
			padding-right 1em
			img
				width 40px
	/*###############################
	TITULAR
	###############################*/
	.titelContent
		float left
		width 55%
		h1
			font-size 1em
			font-weight normal
			color white
			text-transform none
			margin-top 9px
			margin-bottom 0
			strong
				text-transform uppercase
		.publish
			background-color amarilloBtn
			color white
			padding 0.5em 1.6em 0.5em 0.7em
			text-decoration none
			text-transform uppercase
			font-size 10px
			position absolute
			top 26px
			right 70px
			border-bottom solid 3px amarilloSombra
			border-bottom-left-radius 5px
			border-bottom-right-radius 0px
			
	/*###############################
	AVATAR
	###############################*/
	.user
		position relative
		figure
			float none
			position absolute
			right 24px
			top 2px
			z-index 1
		.avatar
			width 40px
			img
				width 100%
				border-radius 50%
		a
			&.arrow
				text-decoration none
				background-color amarilloBtn
				color white
				font-weight 700
				padding 0.2em 0.5em 0.2em 0.9em
				position absolute
				top 8px
				right 0px
				border-bottom: solid 3px amarilloSombra;
				border-bottom-right-radius: 5px;
/*
############################################################
############################################################
NAV
############################################################
############################################################
*/
nav
	background-color greenOscuro
	padding-top: 77px;
	ul
		margin 0
		padding 0
		overflow-x auto
		height 49px
		white-space nowrap
		position relative
		
		li
			list-style none
			display inline-block
			a
				display block
				padding 1.5em
				text-decoration none
				text-transform uppercase
				font-size 0.7em
				color white
				&:hover
					background-color grisOscuroSombra
			&:first-child
				a
					padding-left 1.5em
/*
############################################################
############################################################
SECTION
############################################################
############################################################
*/
section
	contentPadding(1em)
	/*###############################
	SECTION
	###############################*/
	article
		background-color white
		border-bottom solid 3px grisOscuro
		margin-bottom 1em
		&:last-child
			margin-bottom 0
		/*###############################
		DESCRIPTION
		###############################*/
		.description
			figure
					overflow hidden
					height 160px
					img
						width 100%
			.content
				contentPadding(1em)
				h2
					margin 0px
					margin-bottom 0.4em
					line-height 1
					font-size 1.2em
					a
						text-decoration none
						color colorFuente
				p
					margin 0
					&.fecha
						font-size miniFont
						float right
						margin-top -23px
						color rgba(black 0.4)
					&.autor
						margin-bottom 0.5em
						font-size miniFont
						a
							text-decoration none
							color newGreen
				.tag
					background-color newGreen
					border-radius 3px
					color white
					text-transform uppercase
					font-size 10px
					text-decoration none
					padding 0.3em 0.5em
					display inline-block
		/*###############################
		ACTIONS
		###############################*/
		.actions
			background-color rgba(grisOscuro 0.2)
			overflow auto
			contentPadding(0.5em)
			.votes
				.up
				.down
				.total
					font-size miniFont
					text-decoration none
					margin 0 0.5em
				.down
				.up
					&:before
						font-family "icomoon"
						content "\e600"
						margin-right 0.5em
				.down
					margin-left 0.5em
					&:before
						transform rotate(-180deg)
						display inline-block
			div
				float left
				margin 0 1em 0 0
			.data
				float right
				margin 0
				.comments
					background-color rojo
					padding 0.3em 0.5em
					color white
					text-decoration none
					font-size 0.7em
					border-radius 3px
/*
############################################################
############################################################
FOOTER
############################################################
############################################################
*/
footer
	background-color newGreen
	font-size 0.8em
	padding-top 1em
	padding-bottom 1em
	text-align center
	color rgba(white 0.5)
/*
#######################################################################################
#######################################################################################
#######################################################################################
#######################################################################################
RESPONSIVE DESING
#######################################################################################
#######################################################################################
#######################################################################################
*/
@media screen and (min-width: 768px)
	/*
	############################################################
	############################################################
	SECTION
	############################################################
	############################################################
	*/
	section
		article
			display inline-block
			width 49%
			&:nth-child(odd)
				margin-right 1.5%